body
{
    font-family: Arial;
    background-color: white;
    text-align: center;
}

.calendar
{
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: dark black;
}

#clock
{
    font-size: 30px;
    font-weight: bold;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

th, td
{
    padding: 10px;
    border: 1px solid black;
}

th
{
    background-color: black;
    color: white;
}

.today
{
    background-color: blue;
}